<div class="panel" style="position:relative; top:50px; width:800px">
    <h4 class="panel-header" style="font-family:fantasy; font-weight:bold; color:#cf065a">
      <a ui-sref="home">Home</a> &lt; <a ui-sref="categories">categories</a> &lt; <span style="color:#888">Items</span>
    </h4>
    <table class="table table-bordered table-striped table-hover">

        <thead ng-if="$ctrl.data.length">
            <tr style="font-family:fantasy; font-size:1em; background-color:#cf065a; color:white">
                <th>#</th>
                <th style="width:100px">Short Name</th>
                <th>Name</th>
                <th>Description</th>
                <!-- <th>Small</th>
                 <th>Large</th> -->
            </tr>
        </thead>

        <tbody>
            <tr id="" ng-repeat="item in $ctrl.data" style="font-family:fantasy; font-size:1em;">
                <td>{{$index+1}}</td>
                <td align="center">{{item.short_name}}</td>
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <!-- <td>{{item.price_small}}</td>
                <td>{{item.price_small}}</td> -->
            </tr>
        </tbody>
    </table>
</div>
