
<div class="panel">
    <br>
    <h3 class="panel-header"></h3>
    <table class="table table-bordered table-striped table-hover">

         <thead ng-if="found.length">
             <tr style="font-family:sans-serif; font-size:1em; background-color:#7f8686; color:white">
                 <th>#</th>
                 <th>Name</th>
                 <th>Short Name</th>
                 <th>Description</th>
                 <th></th>
             </tr>
         </thead>

        <tbody>

            <tr id="{{$index}}" ng-repeat="item in found" style="cursor:pointer">
                <td>{{$index+1}}</td>
                <td>{{item.name}}</td>
                <td>{{item.short_name}}</td>
                <td>{{item.description}}</td>
                <th><button class="btn btn-danger" style="outline:none" ng-click="">Don't want this one!</button></th>
            </tr>
        </tbody>
    </table>

    <div align="center" ng-if="found.length===0">
      <h3 style="font-size:2em; font-family:verdana,sans-serif; color:red">Nothing found</h3>
    </div>
</div>
